/*  */
/* * {
    border: 1px solid red;
}  */


html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

    margin: 0px;
    padding: 0px;
}

nav {
    height: 69px; /* change it to desired height */
    position: fixed;
    width: 100%;  /* i'm assuming full width */
    z-index: 1;

    top: 0;
    margin: 0 auto;
    /* background-color: green; change to desired color */
}

nav img {
    /* display: inline-block; */
    float: left;
    vertical-align: top;
    height: 50px;
    margin: 10px;
}

nav a {
    /* display: inline-block; */
    float: right;
    vertical-align: top;
    margin-right: 20px;
    line-height: 69px;   /* if you want it vertically middle of the navbar */
    color: seashell;
}

/* ^^^ end nav / header ^^^ */

.main {
    padding: 70px;
    margin-top: 70px;
}

section {
    text-align: center;
}

/* MISSION */

.mission {
    margin-top: 70px;
}

/* .mission .container {
    text-align: center;
} */

.overlayText {
    background-color: black;
    width: 1200px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

/* FEATURED TEA */

.featuredTea {
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    top: 30px;
    width: 1000px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.teaHeader {
    text-align: center;
    width: 100%;
}

.tea img {
    height: 200px;
    width: 300px;
    margin: 10px;
}

.tea h4 {
    margin-top: 10px;
}

/* LOCATIONS */

.locations {
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-image: url('./images/img-locations-background.jpeg');
    height: 500px;
    width: 1200px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.locations h2 {
    margin-top: 75px;
    margin-bottom: 75px;
}
.locationsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location {
    height: 300px;
    width: 300px;
    background-color: black;
    opacity: 1;
    border: 1px solid silver;
    /* vertical-align: center; */
    align-items: center;
}

/* FOOTER */

footer {
    height: 200px;
    text-align: center;
    margin-bottom: 30px;
}

.copyright {
    text-align: left;
    margin-left: 20px;
}